.banner{
    border: 20px solid red;
    background-color: gray;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition:all 0.5 linear;
}
.b
.banner:hover{
    transition:all 0.5 linear;
    position: absolute;
    top:20%;
    left:20%;
}