.banner{
    border: 20px solid red;
    background-color: gray;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;3
    transition:all 100 linear;
}
.banner::after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top:10px;
    left:20px;
    border: 10px solid green;
    transition:all 100 linear;
}
.banner:hover::after{
    position: absolute;
    top:20%;
    left:20%;
}