*{
    background-image: url("./watch.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.welcomesign{
    min-width: 100vw;
    min-height:100vh;
    display:flex;
    color: orangered;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

